{% if page_obj.has_other_pages %}
<nav>
  <ul class="pagination justify-content-center mb-0">
    {% if encomiendas.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ encomiendas.previous_page_number }}{% if q %}&q={{ q }}{% endif %}{% if estado_activo %}&estado={{ estado_activo }}{% endif %}">&laquo; Anterior</a>
    </li>
    {% endif %}
    {% for num in encomiendas.paginator.page_range %}
    <li class="page-item {% if encomiendas.number == num %}active{% endif %}">
      <a class="page-link" href="?page={{ num }}{% if q %}&q={{ q }}{% endif %}{% if estado_activo %}&estado={{ estado_activo }}{% endif %}">{{ num }}</a>
    </li>
    {% endfor %}
    {% if encomiendas.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ encomiendas.next_page_number }}{% if q %}&q={{ q }}{% endif %}{% if estado_activo %}&estado={{ estado_activo }}{% endif %}">Siguiente &raquo;</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
